Project/src/wsdl/localhost_8080/StudentInformationSystemServlet/soapService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.turksat.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.turksat.com/">

<xs:element name="assignGrade" type="tns:assignGrade"/>

<xs:element name="assignGradeResponse" type="tns:assignGradeResponse"/>

<xs:element name="changePassword" type="tns:changePassword"/>

<xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>

<xs:element name="checkLogin" type="tns:checkLogin"/>

<xs:element name="checkLoginResponse" type="tns:checkLoginResponse"/>

<xs:element name="courseRegistration" type="tns:courseRegistration"/>

<xs:element name="courseRegistrationResponse" type="tns:courseRegistrationResponse"/>

<xs:element name="deleteAccount" type="tns:deleteAccount"/>

<xs:element name="deleteAccountResponse" type="tns:deleteAccountResponse"/>

<xs:element name="listGrades" type="tns:listGrades"/>

<xs:element name="listGradesResponse" type="tns:listGradesResponse"/>

<xs:element name="listLectures" type="tns:listLectures"/>

<xs:element name="listLecturesResponse" type="tns:listLecturesResponse"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:complexType name="courseRegistration">
<xs:sequence>
<xs:element name="lecture_id" type="xs:int"/>
<xs:element name="student_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="courseRegistrationResponse">
<xs:sequence>
<xs:element name="return" type="tns:data" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="data">
<xs:sequence>
<xs:element name="object" type="xs:anyType" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="UUID" type="xs:string" minOccurs="0"/>
<xs:element name="userEmail" type="xs:string" minOccurs="0"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="userPassword" type="xs:string" minOccurs="0"/>
<xs:element name="userPosition" type="xs:int"/>
<xs:element name="userSurname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listLectures">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listLecturesResponse">
<xs:sequence>
<xs:element name="return" type="tns:data" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assignGrade">
<xs:sequence>
<xs:element name="lecture_id" type="xs:int"/>
<xs:element name="student_id" type="xs:int"/>
<xs:element name="type" type="xs:int"/>
<xs:element name="grade" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assignGradeResponse">
<xs:sequence>
<xs:element name="return" type="tns:data" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listGrades">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listGradesResponse">
<xs:sequence>
<xs:element name="return" type="tns:data" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePassword">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePasswordResponse">
<xs:sequence>
<xs:element name="return" type="tns:data" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="tns:data" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAccount">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:data" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLogin">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:data" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>