Project/src/wsdl/localhost_8080/StudentInformationSystemServlet/soapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.turksat.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.turksat.com/" name="soapService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.turksat.com/" schemaLocation="http://localhost:8080/StudentInformationSystemServlet/soapService?xsd=1"/>
</xsd:schema>
</types>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="deleteAccount">
<part name="parameters" element="tns:deleteAccount"/>
</message>
<message name="deleteAccountResponse">
<part name="parameters" element="tns:deleteAccountResponse"/>
</message>
<message name="courseRegistration">
<part name="parameters" element="tns:courseRegistration"/>
</message>
<message name="courseRegistrationResponse">
<part name="parameters" element="tns:courseRegistrationResponse"/>
</message>
<message name="listLectures">
<part name="parameters" element="tns:listLectures"/>
</message>
<message name="listLecturesResponse">
<part name="parameters" element="tns:listLecturesResponse"/>
</message>
<message name="listGrades">
<part name="parameters" element="tns:listGrades"/>
</message>
<message name="listGradesResponse">
<part name="parameters" element="tns:listGradesResponse"/>
</message>
<message name="assignGrade">
<part name="parameters" element="tns:assignGrade"/>
</message>
<message name="assignGradeResponse">
<part name="parameters" element="tns:assignGradeResponse"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<portType name="soapService">
<operation name="checkLogin">
<input wsam:Action="http://soap.turksat.com/soapService/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://soap.turksat.com/soapService/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="deleteAccount">
<input wsam:Action="http://soap.turksat.com/soapService/deleteAccountRequest" message="tns:deleteAccount"/>
<output wsam:Action="http://soap.turksat.com/soapService/deleteAccountResponse" message="tns:deleteAccountResponse"/>
</operation>
<operation name="courseRegistration">
<input wsam:Action="http://soap.turksat.com/soapService/courseRegistrationRequest" message="tns:courseRegistration"/>
<output wsam:Action="http://soap.turksat.com/soapService/courseRegistrationResponse" message="tns:courseRegistrationResponse"/>
</operation>
<operation name="listLectures">
<input wsam:Action="http://soap.turksat.com/soapService/listLecturesRequest" message="tns:listLectures"/>
<output wsam:Action="http://soap.turksat.com/soapService/listLecturesResponse" message="tns:listLecturesResponse"/>
</operation>
<operation name="listGrades">
<input wsam:Action="http://soap.turksat.com/soapService/listGradesRequest" message="tns:listGrades"/>
<output wsam:Action="http://soap.turksat.com/soapService/listGradesResponse" message="tns:listGradesResponse"/>
</operation>
<operation name="assignGrade">
<input wsam:Action="http://soap.turksat.com/soapService/assignGradeRequest" message="tns:assignGrade"/>
<output wsam:Action="http://soap.turksat.com/soapService/assignGradeResponse" message="tns:assignGradeResponse"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://soap.turksat.com/soapService/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://soap.turksat.com/soapService/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
<operation name="register">
<input wsam:Action="http://soap.turksat.com/soapService/registerRequest" message="tns:register"/>
<output wsam:Action="http://soap.turksat.com/soapService/registerResponse" message="tns:registerResponse"/>
</operation>
</portType>
<binding name="soapServicePortBinding" type="tns:soapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="courseRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listLectures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listGrades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="assignGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="soapService">
<port name="soapServicePort" binding="tns:soapServicePortBinding">
<soap:address location="http://localhost:8080/StudentInformationSystemServlet/soapService"/>
</port>
</service>
</definitions>